{% extends "templates/web.html" %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block header %}
<h1>{{ job_title }}</h1>
{% endblock %}

{% block page_content %}

{%- if description -%}
<div>{{ description }}</div>
{% endif %}

{%- if publish_salary_range -%}
<div><b>{{_("Salary range per month")}}: </b>{{ frappe.format_value(frappe.utils.flt(lower_range), currency=currency) }} - {{ frappe.format_value(frappe.utils.flt(upper_range), currency=currency) }}</div>
{% endif %}

<p style='margin-top: 30px'>
	{%- if job_application_route -%}
	<a class='btn btn-primary'
	href='/{{job_application_route}}?new=1&job_title={{ doc.name }}'>
	{{ _("Apply Now") }}</a>
	{% else %}
	<a class='btn btn-primary'
	href='/job_application?new=1&job_title={{ doc.name }}'>
	{{ _("Apply Now") }}</a>
	{% endif %}
</p>

{% endblock %}